@import "variables.less";
@import "mixins.less";
@import "normalize.less";
.main-nav {
	display: flex;
	align-items: baseline;
	a {
		text-decoration: none;
	}
}

.main-nav__items {
	padding: 0;
	margin: 0;
	display: flex;
	margin-right: auto;

}

.main-nav__item:last-child {
	margin-right: auto;
}

.main-nav__item {
	list-style: none;
	padding-left: 35px;
  a {
  	font-family: 'lora-regular-webfont', Helvetica, Arial, sans-serif;
    font-size: 16px;
    display: block;
    overflow: hidden;
    color: @color-dark-gray;
    text-transform: uppercase;
    text-decoration: none;
  };
  a:active, a:hover {
  	color: @color-pink;
  }
}

.main-nav__tel {
	font-family: 'lora-bold-webfont', Helvetica, Arial, sans-serif;
	font-size: 16px;
	text-decoration: none;
	a {
		color: @color-dark-gray;
	}
}
